/* Styles inherited from DisplayComponent */
.canvas {
    width: 100%;
    height: 600px; /* Align height with drawing canvas */
    border: 1px dashed lightgrey; /* subtler border */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #fcfcfc;
}

:host {
    display: block;
}

.display-wrapper {
    position: relative;
    width: 100%;
}

.node-weight-mask-group {
  pointer-events: auto;
}

.node-weight-mask {
  opacity: 1;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

:host ::ng-deep .node-weight-mask-group:hover .node-weight-mask {
  opacity: 0;
}
