
@if (diagram) {
    <div class="invariants-table-wrapper"> 
        <mat-expansion-panel class="invariants-table-panel" [expanded]="true" #invariantsPanel>
            <mat-expansion-panel-header class="invariants-table-header">
                <div class="invariants-table-header-title">
                    <mat-icon color="primary">table_chart</mat-icon>
                    <mat-panel-title>{{ 'INVARIANTS.INVARIANTS_TABLE' | translate }}</mat-panel-title>
                </div>
                <div class="invariants-table-header-actions">
                    <button
                        matIconButton
                        [disabled]="isButtonDisabled()"
                        color="primary"
                        [matTooltip]="'INVARIANTS.NEW_INVARIANT' | translate"
                        (click)="onAddButton(invariantsPanel, $event)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button
                        matIconButton
                        [disabled]="isButtonDisabled() || inputEntries().length === 0"
                        color="primary"
                        [matTooltip]="'INVARIANTS.VALIDATE_INVARIANTS' | translate"
                        (click)="onValidateButton(invariantsPanel, $event)">
                        <mat-icon>checklist</mat-icon>
                    </button>
                    <button
                        matIconButton
                        [disabled]="isButtonDisabled()"
                        color="primary"
                        [matTooltip]="'INVARIANTS.FIND_INVARIANTS' | translate"
                        (click)="onFindInvariants(); $event.stopPropagation()">
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                </div>
            </mat-expansion-panel-header>
            <div class="invariants-table-container">
                <table class="invariants-table">
                    <thead>
                        <tr>
                            <th class="narrow-th">
                                <mat-icon>playlist_add_check</mat-icon>
                            </th>
                            <th class="invariant-text-th">Notation</th>
                            <th class="narrow-th">
                                <button
                                    mat-icon-button
                                    color="warn"
                                    (click)="onDeleteAllEntries()"
                                    class="delete-all-entries-button"
                                    [disabled]="inputEntries().length === 0">
                                    <mat-icon>delete_sweep</mat-icon>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (entry of inputEntries(); track entry.id) {
                            <tr class="invariant-row" (click)="onActivateEntry(entry.id)">
                                <td class="invariant-validity-td">
                                    @if (entry.validity === InvariantValidity.VALID_MINIMAL) {
                                        <button
                                            mat-icon-button
                                            class="minimal-button validity-button">
                                            <mat-icon class="minimal-icon">check_circle</mat-icon>
                                        </button>
                                    } @else if (entry.validity === InvariantValidity.VALID_NOT_MINIMAL) {
                                        <button
                                            mat-icon-button
                                            class="not-minimal-button validity-button"
                                            matTooltip="{{ this.invariantsValidationService.getErrorMessage(entry) }}"
                                            matTooltipClass="wide-tooltip">
                                            <mat-icon class="not-minimal-icon">check_circle</mat-icon>
                                            <div class="info-icon-container">
                                                <mat-icon color="primary" class="info-icon"> info_outline </mat-icon>
                                            </div>
                                        </button>
                                    } @else if (entry.validity === InvariantValidity.INCOMPLETE) {
                                        <button
                                            mat-icon-button
                                            class="incomplete-button validity-button"
                                            matTooltip="{{ this.invariantsValidationService.getErrorMessage(entry) }}"
                                            matTooltipClass="wide-tooltip">
                                            <div class="info-icon-container">
                                                <mat-icon color="primary" class="info-icon"> info_outline </mat-icon>
                                            </div>
                                        </button>
                                    } @else if (entry.validity === InvariantValidity.INVALID) {
                                        <button
                                            mat-icon-button
                                            class="invalid-button validity-button"
                                            matTooltip="{{ this.invariantsValidationService.getErrorMessage(entry) }}"
                                            matTooltipClass="wide-tooltip">
                                            <mat-icon color="warn">cancel</mat-icon>
                                            <div class="info-icon-container">
                                                <mat-icon color="primary" class="info-icon"> info_outline </mat-icon>
                                            </div>
                                        </button>
                                    }
                                </td>
                                <td class="invariant-text-td"
                                    type="text"
                                    [(ngModel)]="entry.text"
                                    [disabled]="isButtonDisabled()">
                                    {{ entry.text }}
                                </td>
                                
                                <td class="delete-button-td">
                                    <button
                                        mat-icon-button
                                        color="warn"
                                        (click)="onDeleteEntry(entry.id)"
                                        class="delete-entry-button">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="progress-container">
                    <p class="progress-text">
                        Gefunden: {{ invariantsValidationService.foundCount() }} / {{ invariantsValidationService.totalCount() }}
                    </p>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
}