<table>
    <thead>
        <tr>
            <th>{{ 'FIRING_SEQUENCE' | translate }}</th>
            <th>{{ 'TRANSITION_COUNT' | translate }}</th>
            <th>{{ 'START_MARKING' | translate }}</th>
            <th>{{ 'END_MARKING' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        @for (entry of firingEntries(); track entry.id) {
            <tr>
                <td>{{ entry.firingSequence }}</td>
                <td>{{ entry.transitionCount }}</td>
                <td>{{ formatMarking(entry.startMarking) }}</td>
                <td>{{ formatMarking(entry.endMarking) }}</td>
            </tr>
        }
    </tbody>
</table>
