.node-label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: currentColor;
    font-weight: bold;
    pointer-events: none; /* Prevent text from interfering with mouse events */
}

.transition-label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: currentColor;
    font-weight: bold;
    pointer-events: none;
}

.transition-label-below {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: currentColor;
    font-weight: bold;
    pointer-events: none;
}

.token-count {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    fill: black;
    pointer-events: none;
}

.place-label-inside {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: currentColor;
    font-weight: bold;
    pointer-events: none;
}

.transition-label-inside {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: currentColor;
    font-weight: bold;
    pointer-events: none;
}

.transition-inner-label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: currentColor;
    font-weight: bold;
    pointer-events: none;
}

.place-weight {
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    z-index: 2;
}

.change-place-weight-button {
    cursor: pointer;
    z-index: 3;
}

.change-place-weight-button:hover {
    fill: gainsboro;
    stroke-width: 1.5;
}
